.TopHeader {
    display: flex;
    z-index: 1000;
    height: 12vh;
    width: 100%;
    background-color: #ffffff; 
}

.btn_drop_header {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 6vh;
    width: 6vh; 
}

.TopLogo {
    position: absolute;
    top: 2vh;
    display: flex;
    height: 8vh;
    width: 40%;
    align-items: center;
    padding-left: 1%;
}


.TopHeader ul li {
    display: inline-block;
    width: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}




