.footer {
	text-align: center;
	padding: 30px;
}

.footer img {
	margin: 0 auto;
	border-radius: 100%;
	transition: .5s ease-in-out;
}

.footer img:hover {
	scale: 1.1;
}

.footer .txt,
.footer .socials {
	margin-top: 20px;
}

.footer .txt p,
.footer .socials>* {
	margin: 10px;
}

.footer .Jr a {
	transition: .4s;
}

.footer .Jr a:hover {
	color: #1f37a0;
	font-weight: bold;
}