@font-face {
	font-family: 'WorkSans';
	src: url('/public/fonts/WorkSans-Regular.ttf') format('truetype');
}

:root {
	--background: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'WorkSans', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

html,
body {
	color: white;
	background: var(--background);
	font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}