.container {
	margin: 70px auto;
	width: 100%;
	max-width: 500px;
}

.container .videoWrapper {
	position: relative;
	padding-top: 125%;
	/* Ajuste a proporção de 16:9 para 4:5 */
	overflow: hidden;
	/* Garante que o conteúdo extra não transborde */
}

.videoWrapper iframe,
.videoWrapper .instagram-media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}